@{
    ViewBag.Title = "Home Page";
}
@model  List<crawldataweb.Models.manga>

@foreach (var item in Model)
            {
                <tr>
                    <td>@item.name</td>
                </tr>
            }