
@{
    ViewBag.Title = "Crawl";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Crawl</h2>
<a href="/admin/crawl/category" >Crawl Data Category</a>
<a href="/admin/crawl/manga" >Crawl Data Manga</a>
<a href="/admin/crawl/chap" >Crawl Data Chap</a>

@section js
{
    <script>    
        
    </script>
}